<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="assets/ico/favicon.ico" />

<title>SOLID</title>

<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />

<script src="assets/js/modernizr.js"></script>
</head>

<body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/welcome}">SOLID HOMECARE,
					INC.</a>
			</div>
			<div class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">ADMIN<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/newUser}">NEW USER</a></li>
							<li role="presentation" class="divider"></li>
							<li><a th:href="@{/users}">USER SEARCH</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">USER ROLE</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">PERMISSIONS</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">PATIENTS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/newPatient}">NEW PATIENT</a></li>
							<li role="presentation" class="divider"></li>
							<li><a th:href="@{/patients}">SEARCH PATIENTS</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">PATIENT MEDICATION </a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">PATIENT DIAGNOSIS </a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">PHYSICIANS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog.html">NEW PHYSICIANS</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">SEARCH PHYSICIANS</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="blog.html">PHYSICIAN SPECIALTY</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">APPOINTMENTS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a th:href="@{/newAppointment}">NEW APPOINTMENT</a></li>
							<li role="presentation" class="divider"></li>
							<li><a th:href="@{/appointments}">SEARCH APPOINTMENT</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">PENDING APPROVAL</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">SERVICES<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog.html">NEW SERVICE</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">SEARCH SERVICE</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">REPORTS<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog.html">LOGIN</a></li>
							<li role="presentation" class="divider"></li>
							<li><a href="single-post.html">REGISTER</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">ACCOUNT <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="blog.html">PROFILE</a></li>
							<li><a th:href="@{/logout}">LOGOUT</a></li>
							<!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
		<div class="container">

			<section id="wrapper" class="error-page">
				<div class="error-box">
					<div class="error-body text-center">
						<h1 class="text-danger">404</h1>
						<h3 class="text-uppercase">Page Not Found! Access Denied</h3>
						<p class="text-muted m-t-30 m-b-30">You Do Not Have Permission To View This Page</p>
						<a th:href="@{/welcome}"
							class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Back
							to home</a>
					</div>
				</div>
			</section>


		</div>
		<!-- /container -->
	</div>
	<!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	<div id="footerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<h4>About</h4>
					<div class="hline-w"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s.</p>
				</div>
				<div class="col-lg-4">
					<h4>Social Links</h4>
					<div class="hline-w"></div>
					<p>
						<a href="#"><i class="fa fa-dribbble"></i></a> <a href="#"><i
							class="fa fa-facebook"></i></a> <a href="#"><i
							class="fa fa-twitter"></i></a> <a href="#"><i
							class="fa fa-instagram"></i></a> <a href="#"><i
							class="fa fa-tumblr"></i></a>
					</p>
				</div>
				<div class="col-lg-4">
					<h4>Our Bunker</h4>
					<div class="hline-w"></div>
					<p>
						Some Ave, 987,<br /> 23890, New York,<br /> United States.<br />
					</p>
				</div>

			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	<!--/footerwrap -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
	<script src="assets/js/jquery.isotope.min.js"></script>
	<script src="assets/js/custom.js"></script>


	<script>
		// Portfolio
		(function($) {
			"use strict";
			var $container = $('.portfolio'),
				$items = $container.find('.portfolio-item'),
				portfolioLayout = 'fitRows';
	
			if ($container.hasClass('portfolio-centered')) {
				portfolioLayout = 'masonry';
			}
	
			$container.isotope({
				filter : '*',
				animationEngine : 'best-available',
				layoutMode : portfolioLayout,
				animationOptions : {
					duration : 750,
					easing : 'linear',
					queue : false
				},
				masonry : {
				}
			}, refreshWaypoints());
	
			function refreshWaypoints() {
				setTimeout(function() {}, 1000);
			}
	
			$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({
					filter : selector
				}, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
			});
	
			function getColumnNumber() {
				var winWidth = $(window).width(),
					columnNumber = 1;
	
				if (winWidth > 1200) {
					columnNumber = 5;
				} else if (winWidth > 950) {
					columnNumber = 4;
				} else if (winWidth > 600) {
					columnNumber = 3;
				} else if (winWidth > 400) {
					columnNumber = 2;
				} else if (winWidth > 250) {
					columnNumber = 1;
				}
				return columnNumber;
			}
	
			function setColumns() {
				var winWidth = $(window).width(),
					columnNumber = getColumnNumber(),
					itemWidth = Math.floor(winWidth / columnNumber);
	
				$container.find('.portfolio-item').each(function() {
					$(this).css({
						width : itemWidth + 'px'
					});
				});
			}
	
			function setPortfolio() {
				setColumns();
				$container.isotope('reLayout');
			}
	
			$container.imagesLoaded(function() {
				setPortfolio();
			});
	
			$(window).on('resize', function() {
				setPortfolio();
			});
		})(jQuery);
	</script>
</body>
</html>

