<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">

		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>Appointments.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->


		<!-- *****************************************************************************************************************
	 USER TABLE
	 ***************************************************************************************************************** -->


		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${newAppointmentSuccess}" class="alert alert-success"
						role="alert">
						<strong>New appointment added successfully.</strong>
					</div>
					<table id="example"
						class="table table-bordred table-striped table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Doctor</th>
								<th>Patient</th>
								<th>Date</th>
								<th>Note</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="appointment : ${appointments}">
								<td th:text="${appointment.id}"></td>
								<td><span th:text="${appointment.physician.getFirstName()}"></span>
									<span th:text="${appointment.physician.getLastName()}"></span></td>
								<td><span th:text="${appointment.patient.getFirstName()}"></span>
									<span th:text="${appointment.patient.getLastName()}"></span></td>
								<td th:text="${appointment.appointmentDate}"></td>
								<td th:text="${appointment.note}"></td>
								<td class="td-actions"><a href="#"
									class="btn btn-default btn-xs"><span
										class="glyphicon glyphicon-search"></span>View</a> <a
									th:href="@{/edit(id=${appointment.id})}"
									class='btn btn-info btn-xs' href="#"><span
										class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
									class="btn btn-danger btn-xs"><span
										class="glyphicon glyphicon-remove"></span>Remove</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
