<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">

		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>Appointments.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->


		<!-- *****************************************************************************************************************
	 USER TABLE
	 ***************************************************************************************************************** -->


		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${newAppointmentSuccess}" class="alert alert-success"
						role="alert">
						<strong>Appointment updated successfully.</strong>
					</div>
					<table id="myTable"
						class="table table-bordred table-striped table-bordered">
						<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Doctor</th>
								<th class="text-center">Patient</th>
								<th class="text-center">From Date</th>
								<th class="text-center">To Date</th>
								<th class="text-center">Status</th>
								<th class="text-center">Note</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="appointment : ${appointments}" class="text-center">
								<td th:text="${appointment.id}"></td>
								<td><span th:text="${appointment.physician.getFirstName()}"></span>
									<span th:text="${appointment.physician.getLastName()}"></span></td>
								<td><span th:text="${appointment.patient.getFirstName()}"></span>
									<span th:text="${appointment.patient.getLastName()}"></span></td>
								<td th:text="${appointment.fromDate}"></td>
								<td th:text="${appointment.toDate}"></td>
								<!-- <td th:text="${appointment.status}"></td> -->
								<td class="text-center">
                                        <span class="label label-success" th:text="${appointment.status}"></span>
                                 </td>
								<td th:text="${appointment.note}"></td>
								<td class="td-actions"><a th:href="@{/editAppointment(id=${appointment.id})}"
									class="btn btn-default btn-xs"><span
										class="glyphicon glyphicon-search"></span>View</a> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
