<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="assets/ico/favicon.ico"/>

    <title>SOLID</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="assets/css/font-awesome.min.css" rel="stylesheet"/>
    
    <script src="assets/js/modernizr.js"></script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/welcome}">SOLID HOMECARE, INC.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMIN<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/newUser}">NEW USER</a></li>
                <li role="presentation" class="divider"></li>
                <li><a th:href="@{/users}">USER SEARCH</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">USER ROLE</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">PERMISSIONS</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PATIENTS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a th:href="@{/newPatient}">NEW PATIENT</a></li>
                <li role="presentation" class="divider"></li>
                <li><a th:href="@{/patients}">SEARCH PATIENTS</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">PATIENT MEDICATION </a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">PATIENT DIAGNOSIS </a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">PHYSICIANS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">NEW PHYSICIANS</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">SEARCH PHYSICIANS</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="blog.html">PHYSICIAN SPECIALTY</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">APPOINTMENTS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">NEW APPOINTMENT</a></li>
                <li role="presentation" class="divider"></li>
                <li><a th:href="@{/appointments}">SEARCH APPOINTMENT</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">PENDING APPROVAL</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">SERVICES<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">NEW SERVICE</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">SEARCH SERVICE</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">REPORTS<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">LOGIN</a></li>
                <li role="presentation" class="divider"></li>
                <li><a href="single-post.html">REGISTER</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACCOUNT <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="blog.html">PROFILE</a></li>
                <li><a href="single-post.html">LOGOUT</a></li>
                <!-- <li><a href="portfolio.html">PORTFOLIO</a></li>
                <li><a href="single-project.html">SINGLE PROJECT</a></li> -->
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
				<h3>Appointments.</h3>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /blue -->
	
	
	<!-- *****************************************************************************************************************
	 USER TABLE
	 ***************************************************************************************************************** -->
	
                
            <div class="container">
            
            	<div class="row">
        <div id="" class="filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                       <div class="form-group">
                            <label class="filter-col" style="margin-right:10;" for="pref-search">First Name:</label>
                            <input type="text" class="form-control input-sm" id="pref-search"/>
                        </div><!-- form group [search] -->
                         <div class="form-group">
                            <label class="filter-col" style="margin-right:10;" for="pref-search">Last Name:</label>
                            <input type="text" class="form-control input-sm" id="pref-search"/>
                        </div><!-- form group [search] -->
                         <div class="form-group">
                            <label class="filter-col" style="margin-right:10;" for="pref-search">SSN:</label>
                            <input type="text" class="form-control input-sm" id="pref-search"/>
                        </div><!-- form group [search] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:10;" for="pref-perpage">Status</label>
                            <select id="pref-perpage" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Discharged</option>
                            </select>                                
                        </div> <!-- form group [rows] -->
                    </form>
                </div>
            </div>
        </div>    
       </div>                
            
            
            
            
                <div class="row">
					<div class="col-sm-12">
					<div th:if="${newPatientSuccess}" class="alert alert-success" role="alert">
					<strong>New appointment added successfully.</strong>
					</div>
						<table id="example" class="table table-bordred table-striped table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Doctor</th>
									<th>Patient</th>
									<th>Date</th>
									<th>Note</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="appointment : ${appointments}">
									<td th:text="${appointment.id}"></td>
									<td>
										<span th:text="${appointment.doctor.getFirstName()}"></span>
										<span th:text="${appointment.doctor.getLastName()}"></span>
									</td>
									<td>
										<span th:text="${appointment.patient.getFirstName()}"></span>
										<span th:text="${appointment.patient.getLastName()}"></span>
									</td>
									<td th:text="${appointment.appointmentDate}"></td>
									<td th:text="${appointment.note}"></td>
									<td class="td-actions">
									<a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span>View</a>
									<a th:href="@{/edit(id=${appointment.id})}" class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
									<a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Remove</a>
								</td>					
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				</div>

	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Social Links</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-dribbble"></i></a>
		 				<a href="#"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Our Bunker</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Some Ave, 987,<br/>
		 				23890, New York,<br/>
		 				United States.<br/>
		 			</p>
		 		</div>
		 	
		 	</div><!--/row -->
	 	</div><!--/container -->
	 </div><!--/footerwrap -->
	 
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
  	<script src="assets/js/custom.js"></script>
  </body>
</html>
