<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>Edit Patient.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

		<div class="container mtb">
			<div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
				<form th:action="@{/updatePatient}" method="post"
					th:object="${patient}" enctype="multipart/form-data"
					class="form-horizontal">
					<fieldset>
					<input type="hidden" th:field="*{id}" placeholder="SSN Number"/>
						<div class="form-group">
							<label class="col-md-4 control-label">First Name</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"> </i>
									</div>
									<input type="text" th:field="*{firstName}"
										placeholder="First Name" class="form-control input-md" />
								</div>
								<b><span th:errors="*{firstName}" class="text-danger"></span></b>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label">Last Name</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"> </i>
									</div>
									<input type="text" th:field="*{lastName}"
										placeholder="Last Name" class="form-control input-md" />
								</div>
								<b><span th:errors="*{lastName}" class="text-danger"></span></b>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Profile Photo</label>
							<div class="col-md-4">
								<input type="file" class="input-file" name="patientPhoto"
									th:field="*{patientPhoto}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Date Of Birth</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-birthday-cake"> </i>
									</div>
									<input type="date" th:field="*{dateOfBirth}"
										placeholder="License Number" class="form-control input-md" />
								</div>
								<b><span th:errors="*{dateOfBirth}" class="text-danger"></span></b>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Gender</label>
							<div class="col-md-4">
								<select th:field="*{gender}" class="form-control">
									<option value="male">male</option>
									<option value="female">female</option>
									<option value="other">other</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">SSN</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-user"> </i>
									</div>
									<input type="text" th:field="*{ssn}" placeholder="SSN Number"
										class="form-control input-md" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Status</label>
							<div class="col-md-4">
								<select th:field="*{status}" class="form-control">
									<option value="active">Active</option>
									<option value="inactive">Inactive</option>
									<option value="discharged">Discharged</option>
									<option value="hospitalized">Hospitalized</option>
									<option value="deceased">Deceased</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Email Address</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</div>
									<input type="text" th:field="*{email}"
										placeholder="Email Address" class="form-control input-md" />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label" for="Father">Phone</label>
							<div class="col-md-4">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-phone" style="font-size: 20px;"></i>
									</div>
									<input type="text" th:field="*{phone}" placeholder="Phone"
										class="form-control input-md" />
								</div>
								<b><span th:errors="*{phone}" class="text-danger"></span></b>
							</div>
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label col-xs-12">Address</label>
							<div class="col-md-2  col-xs-4">
								<input type="text" th:field="*{streetAddress}"
									placeholder="Street address" class="form-control input-md " />
							</div>
							<div class="col-md-2 col-xs-4">
								<input type="text" th:field="*{zipCode}" placeholder="Zip code"
									class="form-control input-md " />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-2  col-xs-4">
								<input type="text" th:field="*{city}" placeholder="City"
									class="form-control input-md " />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-4 control-label">Diagnosis</label>
							<div class="col-md-4">
								<select id="framework" th:field="*{diagnosis}" multiple="multiple"
									class="form-control">
									<option value="Hypertension">Hypertension</option>
									<option value="Diabetes">Diabetes</option>
									<option value="Hyperlipidemia">Hyperlipidemia</option>
									<option value="Anxiety">Anxiety</option>
									<option value="Colon Cancer">Colon Cancer</option>
									<option value="Lung Cancer">Lung Cancer</option>
									<option value="Anxiety">Anxiety</option>
									<option value="Obesity">Obesity</option>
									<option value="Rhinitis">Rhinitis</option>
									<option value="Esophagitis">Esophagitis</option>
									<option value="Respiratory problems">Respiratory problems</option>
									<option value="Hypothyroidism">Hypothyroidism</option>
									<option value="Osteoarthritis">ROsteoarthritis</option>
									<option value="Fibromyalgia / myositis">Fibromyalgia / myositis</option>
									<option value="Respiratory problems">Respiratory problems</option>
									<option value="Malaise / fatigue">Malaise / fatigue</option>
									<option value="Asthma">Asthma</option>
									<option value="Nail fungus">Nail fungus</option>
									<option value="Coronary atherosclerosis">Coronary atherosclerosis</option>
								</select>
							</div><b><span th:errors="*{diagnosis}" class="text-danger"></span></b>							
						</div>

						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-4">
								<input type="submit" value="Save" class="btn btn-theme" /> <a
									th:href="@{/patientInfo(id=${patient.id})}" class="btn btn-danger" value=""> <span></span>Candel
								</a>

							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
</body>
</html>
