<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="assets/ico/favicon.ico" />

<title>SOLID</title>

<!-- Bootstrap core CSS -->
<link href="assets/css/bootstrap.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="assets/css/style.css" rel="stylesheet" />
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />

<script src="assets/js/modernizr.js"></script>
</head>

<body>
	<div layout:fragment="mainpage">

		<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
		<div id="headerwrap">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div
							class="panel panel-primary text-center no-boder bg-color-green">
							<div class="panel-body">
								<i class="fa fa-users fa-5x"></i>
								<h3 th:text="${patientCounts}" class="patientcolor"></h3>
							</div>
							<div class="panel-footer back-footer-green">Total Patients

							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div
							class="panel panel-primary text-center no-boder bg-color-blue">
							<div class="panel-body">
								<i class="fa fa-user-md fa-5x"></i>
								<h3>6698</h3>
							</div>
							<div class="panel-footer back-footer-blue">Total Physicians

							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="panel panel-primary text-center no-boder bg-color-red">
							<div class="panel-body">
								<i class="fa fa fa-comments fa-5x"></i>
								<h3 th:text="${appointmentCounts}"></h3>
							</div>
							<div class="panel-footer back-footer-red">Total
								Appointments</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div
							class="panel panel-primary text-center no-boder bg-color-brown">
							<div class="panel-body">
								<i class="fa fa-users fa-5x"></i>
								<h3>36,752</h3>
							</div>
							<div class="panel-footer back-footer-brown">Total Visits</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
