<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">

		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>New Appointment.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

		<div class="container mtb">
			<div class="row">
				<div class="col-lg-6">
					<h4>Edit Customer</h4>
					<div class="hline"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s.</p>
					<!-- <div th:if="${updatedCustomer}" class="alert alert-success"
						role="alert">
						<strong>Information updated successfully.</strong>
					</div> -->
					<p th:if="${emailExist}" class="text-danger">
						<b>Email already exists.</b>
					</p>
					<form th:action="@{/saveNewAppointment}" method="post"
						th:object="${appointment}" role="form">
						<!-- <div class="form-group">

							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" /> <span
									class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div> -->

						<div class="form-group">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control" /> <span
									class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="InputName1">From Date *</label> <b><span
								th:errors="*{fromDate}" class="text-danger"></span></b> <input
								type="text" th:field="*{fromDate}" class="form-control" />
						</div>
						<div class="form-group">
							<label for="InputName1">To Date *</label> <b><span
								th:errors="*{toDate}" class="text-danger"></span></b> <input
								type="text" th:field="*{toDate}" class="form-control" />
						</div>

						<div class="form-group">
							<label for="InputEmail1">Physician *</label> <b><span
								th:errors="*{physician}" class="text-danger"></span></b> <select
								th:field="*{physician}" class="form-control">
								<option th:each="physician : ${physicians}"
									th:value="${physician.getId()}"
									th:text="${physician.getFirstName() + ' ' + physician.getLastName()}"></option>
							</select>
						</div>

						<div class="form-group">
							<label for="InputEmail1">Patient *</label> <b><span
								th:errors="*{patient}" class="text-danger"></span></b> <select
								th:field="*{patient}" class="form-control">
								<option th:each="patient : ${patients}"
									th:value="${patient.getId()}"
									th:text="${patient.getFirstName() + ' ' + patient.getLastName()}"></option>
							</select>
						</div>

						<div class="form-group">
							<label for="InputEmail1">Status *</label> <b><span
								th:errors="*{status}" class="text-danger"></span></b> <select
								th:field="*{status}" class="form-control">
								<option th:value="scheduled">scheduled</option>
								<option th:value="completed">completed</option>
								<option th:value="cancelled">cancelled</option>
							</select>
						</div>

						<div class="form-group">
							<label for="InputName1">Note</label>
							<textarea rows="6" type="text" th:field="*{note}"
								class="form-control" id="exampleInputEmail1"></textarea>
						</div>

						<input type="submit" class="btn btn-theme" value="Save" />
					</form>
				</div>
				<!--/col-lg-8 -->

				<div class="col-lg-6">
					<h4>Support</h4>
					<div class="hline"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s.</p>
					<!-- <p>
		 				Some Ave, 987,<br/>
		 				23890, New York,<br/>
		 				United States.<br/>
		 			</p> -->
					<p>
						Email: hello@solidtheme.com<br /> Tel: +34 8493-4893
					</p>
				</div>
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	</div>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
</body>
</html>
