<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>New User.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->
	<div layout:fragment="mainpage">
	

		<div class="container mtb" sec:authorize="hasRole('ROLE_ADMIN')">
			<div class="row">
				<div class="col-lg-6">
					<h4>New User</h4>
					<div class="hline"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s.</p>
					<form th:action="@{/saveNewUser}" method="post"
						th:object="${customer}" role="form">
						<div class="form-group">
							<label for="InputName1">First Name *</label> <b><span
								th:errors="*{firstName}" class="text-danger"></span></b> <input
								type="text" th:field="*{firstName}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="InputName1">Last Name *</label> <b><span
								th:errors="*{lastName}" class="text-danger"></span></b> <input
								type="text" th:field="*{lastName}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="InputName1">Phone *</label> <b><span
								th:errors="*{phone}" class="text-danger"></span></b> <input
								type="text" th:field="*{phone}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="InputName1">Email *</label> <b><span
								class="text-danger" th:errors="*{email}"></span></b>
							<p th:if="${emailExist}" class="text-danger">
								<b>Email already exists.</b>
							</p>
							<input type="email" th:field="*{email}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="InputName1">User Name *</label> <b><span
								class="text-danger" th:errors="*{username}"></span></b>
							<p th:if="${usernameExist}" class="text-danger">
								<b>Username already exists.</b>
							</p>
							<input type="text" th:field="*{username}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<div class="form-group">
							<label for="InputEmail1">Password *</label> <b><span
								th:errors="*{password}" class="text-danger"></span></b> <input
								type="password" th:field="*{password}" class="form-control"
								id="exampleInputEmail1" />
						</div>
						<input type="submit" value="Register" class="btn btn-theme" />
					</form>
				</div>
				<!--/col-lg-8 -->

				<div class="col-lg-6">
					<h4>Support</h4>
					<div class="hline"></div>
					<p>Lorem Ipsum is simply dummy text of the printing and
						typesetting industry. Lorem Ipsum has been the industry's standard
						dummy text ever since the 1500s.</p>
					<!-- <p>
		 				Some Ave, 987,<br/>
		 				23890, New York,<br/>
		 				United States.<br/>
		 			</p> -->
					<p>
						Email: hello@solidtheme.com<br /> Tel: +34 8493-4893
					</p>
				</div>
			</div>
			<!--/row -->
		</div>
		<!--/container -->
	

	
	<div sec:authorize="hasRole('ROLE_USER')">
		<div id="headerwrap">
			<div class="container">

				<section id="wrapper" class="error-page">
					<div class="error-box">
						<div class="error-body text-center">
							<h1 class="text-danger">404</h1>
							<h3 class="text-uppercase">Page Not Found! Access Denied</h3>
							<p class="text-muted m-t-30 m-b-30">You Do Not Have
								Permission To View This Page</p>
							<a th:href="@{/welcome}"
								class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Back
								to home</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	
	</div>
</body>
</html>
