<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
BLUE WRAP
***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>New User.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
CONTACT FORMS
***************************************************************************************************************** -->

<div class="container mtb">
		
		<div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
			<form th:action="@{/saveNewUser}" method="post"	th:object="${customer}" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<div class="form-group">
						<label class="col-md-4 control-label">First Name</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-user"> </i>
								</div>
								<input type="text" th:field="*{firstName}"
									placeholder="First Name" class="form-control input-md"/>
							</div><b><span
								th:errors="*{firstName}" class="text-danger"></span></b>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label">Last Name</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-user"> </i>
								</div>
								<input type="text" th:field="*{lastName}"
									placeholder="Last Name" class="form-control input-md" />
							</div> <b><span th:errors="*{lastName}" class="text-danger"></span></b>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Profile Photo</label>
						<div class="col-md-4">
							<input type="file" class="input-file" name="profilePhoto" th:field="*{profilePhoto}"/>
						</div>
					</div>

					<!-- <div class="form-group">
						<label class="col-md-4 control-label">Department</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-briefcase"></i>
								</div> <b><span th:errors="*{department}" class="text-danger"></span></b>
								 <select
								th:field="*{department}" class="form-control">
								<option th:each="department : ${department}"
									th:value="${department.getId()}"
									th:text="${department.departmen.getName()}"></option>
								</select>
								<input type="text" placeholder="Department"	class="form-control input-md" />
							</div>
						</div>
					</div> -->

					<!-- <div class="form-group">
						<label class="col-md-4 control-label">Date Of Birth</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-calendar"></i>
								</div>  <b><span th:errors="*{dateOfBirth}" class="text-danger"></span></b>
								<input type="date" th:field="*{dateOfBirth}"
									placeholder="Date Of Birth" class="form-control input-md" />
							</div>
						</div>
					</div> -->

					<div class="form-group">
						<label class="col-md-4 control-label">Email	Address</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-envelope-o"></i>
								</div>
								<input type="text" th:field="*{email}"
									placeholder="Email Address" class="form-control input-md" />
							</div> <b><span th:errors="*{email}" class="text-danger"></span></b>
							<b><span th:if="${emailExist}" class="text-danger">
								<b>Email already exists</b>
							</span></b>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label">Username</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-user"></i>
								</div>
								<input type="text" th:field="*{username}"
									placeholder="username" class="form-control input-md" />
							</div> <b><span th:errors="*{username}" class="text-danger"></span></b>
							<b><span th:if="${usernameExist}" class="text-danger">
								<b>Username already exists</b>
							</span></b>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label">Password</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-lock"></i>
								</div>
								<input type="password" th:field="*{password}"
									placeholder="Password" class="form-control input-md" />
							</div> <b><span th:errors="*{password}" class="text-danger"></span></b>
						</div>
					</div>


					<div class="form-group">
						<label class="col-md-4 control-label" for="Father">Phone</label>
						<div class="col-md-4">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="fa fa-phone" style="font-size: 20px;"></i>
								</div><b><span th:errors="*{phone}" class="text-danger"></span></b>
								<input type="text" th:field="*{phone}"
									placeholder="Phone" class="form-control input-md" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label">Gender</label>
						<div class="col-md-4">
							 <select
								th:field="*{gender}" class="form-control">
								<option value="male">male</option>
								<option value="female">female</option>
								<option value="other">other</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label col-xs-12">Address</label>
						<div class="col-md-2  col-xs-4"><b><span th:errors="*{streetAddress}" class="text-danger"></span></b>
							<input type="text" th:field="*{streetAddress}" placeholder="Street address"
								class="form-control input-md " />
						</div>
						<div class="col-md-2 col-xs-4"><b><span th:errors="*{zipCode}" class="text-danger"></span></b>
							<input type="text" th:field="*{zipCode}" placeholder="Zip code"
								class="form-control input-md " />
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label"></label>
						<div class="col-md-2  col-xs-4"><b><span th:errors="*{city}" class="text-danger"></span></b>
							<input type="text" th:field="*{city}" placeholder="City" class="form-control input-md " />
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label"></label>
						<div class="col-md-4">
							<input type="submit" value="Save" class="btn btn-theme" /> <a
								th:href="@{/users}" class="btn btn-danger" value=""> <span></span>Candel
							</a>

						</div>
					</div>
				</fieldset>
			</form>
		</div>
		
		
		
		
		
		
		<div sec:authorize="hasRole('ROLE_USER')" >
			<div>
				<div class="container">

					<section class="error-page">
						<div class="error-box">
							<div class="error-body text-center">
								<h1 class="text-danger">404</h1>
								<h3 class="text-uppercase">Page Not Found! Access Denied</h3>
								<p class="text-muted m-t-30 m-b-30">You Do Not Have
									Permission To View This Page</p>
								<a th:href="@{/welcome}"
									class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">Back
									to home</a>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		
		
		
			
		</div>
		<!--/container -->

	</div>
</body>
</html>
