<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>Patient Info.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

		<div class="container">
			<!-- ******HEADER****** -->
			<header class="header jumbotron">
				<div class="container">
					<div class="teacher-name">
						<div class="row" style="margin-top: 0px;"></div>
					</div>

					<div class="row" style="margin-top: 20px;">
						<div class="col-md-3">
							<!-- Image -->
							<a href="#"> <img class="img-rounded img-responsive"
								th:src="@{/image/patient/}+${patient.id}+'.png'"
								alt="patient Photo" /></a>
						</div>

						<div class="col-md-6">
							<!-- Rank and Qualifications -->
							<p>
								Name: <span th:text="${patient.firstName +' '+patient.lastName}"></span>
							</p>
							<p>
								Date Of Birth: <span th:text="${patient.dateOfBirth}"></span>
							</p>
							<p>
								SNN: <span th:text="${patient.ssn}"></span>
							</p>
							<p>
								Status: <span th:text="${patient.status}"></span>
							</p>
						</div>

						<div class="col-md-3 text-center">
							<!-- Phone and Social -->
							<div class="button" style="padding-top: 18px">
								<a href="mailto:ahmkctg@yahoo.com" class="btn btn-theme">Edit
									Profile</a>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!--End of Header-->


			<!-- Main container -->


			<!-- Section:Biography -->
			<div class="row jumbotron">
				<div class="col-md-12">
					<div class="card card-block">
						<h2 class="card-title">
							<i class="fa fa-user fa-fw"></i>Profile
						</h2>
						<div style="height: 15px"></div>
						<div class="col-md-6">
							<p>
								First Name: <span
									th:text="${patient.firstName +' '+patient.lastName}"></span>
							</p>
							<p>
								Last Name: <span th:text="${patient.lastName}"></span>
							</p>
							<p>
								Date Of Birth: <span th:text="${patient.dateOfBirth}"></span>
							</p>
							<p>
								SNN: <span th:text="${patient.ssn}"></span>
							</p>
							<p>
								Phone: <span th:text="${patient.phone}"></span>
							</p>
							<p>
								Status: <span th:text="${patient.status}"></span>
							</p>
						</div>
						<div class="col-md-6">
							<p>
								ID: <span th:text="${patient.id}"></span>
							</p>
							<p>
								Gender: <span th:text="${patient.gender}"></span>
							</p>
							<p>
								Email: <span th:text="${patient.email}"></span>
							</p>
							<p>
								Street: <span th:text="${patient.streetAddress}"></span>
							</p>
							<p>
								City: <span th:text="${patient.city}"></span>
							</p>
							<p>
								Zip: <span th:text="${patient.zipCode}"></span>
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End:Biography -->

			<!-- Section:Teaching Summary -->
			<div class="row jumbotron">
				<div class="col-md-12">
					<div class="card card-block">
						<h2 class="card-title">
							<i class="fa fa-calendar fa-fw"></i>Appointments
						</h2>
						<div style="height: 15px"></div>
						<table class="table table-bordered">
							<thead class="thead-default">
								<tr>
									<th class="text-center">From Date</th>
									<th class="text-center">To Date</th>
									<th class="text-center">Physician</th>
									<th class="text-center">Status</th>
									<th class="text-center">Note</th>
									<th class="text-center">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center"
									th:each="appointment : ${patient.appointment}">
									<td th:text="${appointment.fromDate}"></td>
									<td th:text="${appointment.toDate}"></td>
									<td
										th:text="${appointment.physician.getFirstName() +' '+ appointment.physician.getLastName()}"></td>
									<td class="text-center"><span class="label label-success"
										th:text="${appointment.status}"></span></td>
									<td th:text="${appointment.note}"></td>
									<td class="td-actions"><a
										th:href="@{/userProfile(id=${patient.id})}"
										class="btn btn-default btn-xs"><span
											class="glyphicon glyphicon-search"></span>View</a> <a
										th:href="@{/editUser(id=${patient.id})}"
										class='btn btn-info btn-xs' href="#"><span
											class="glyphicon glyphicon-edit"></span> Edit</a> <a href="#"
										class="btn btn-danger btn-xs"><span
											class="glyphicon glyphicon-remove"></span>Remove</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End:Teaching Summary -->

			<!--Section:Interests-->
			<div class="row jumbotron">
				<div class="col-md-12">
					<div class="card card-block">
						<h2 class="card-title">
							<i class="fa fa-stethoscope fa-fw"></i>Diagnosis
						</h2>
						<ul class="list-group" style="margin-top: 15px; margin-bottom: 15px;">
							<li th:text="${patient.diagnosis}" class="list-group-item"></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End :Interests -->


			<!-- Section:Class Observing -->
			<div class="row">
				<div class="col-md-12">
					<div class="card card-block">
						<h2 class="card-title" style="color: #009688">
							<i class="fa fa-book fa-fw"></i>Classes Observing
						</h2>
						<div style="height: 15px"></div>
						<table class="table table-bordered">
							<thead class="thead-default">
								<tr>
									<th>Course Code</th>
									<th>Course Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>CSE-121</td>
									<td>Structured Programming</td>
								</tr>
								<tr>
									<td>CSE-221</td>
									<td>Algorithms</td>
								</tr>
								<tr>
									<td>CSE-305</td>
									<td>Theory of Computation</td>
								</tr>
								<tr>
									<td>CSE-405</td>
									<td>Network Security</td>
								</tr>
								<tr>
									<td>CSE-439</td>
									<td>Digital Image Processing</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End:Class Observing -->

			<!-- Section:Resources -->
			<div class="row">
				<div class="col-md-12">
					<div class="card card-block">
						<h2 class="card-title" style="color: #009688">
							<i class="fa fa-database fa-fw"></i>Resources
						</h2>
						<div style="height: 15px"></div>
						<table class="table table-bordered">
							<thead class="thead-default">
								<tr>
									<th>Topic</th>
									<th>Info</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>How Bubble Sort Works</td>
									<td style="border-left: 3px solid #009688;">Bubble sort.
										Bubble sort, sometimes referred to as sinking sort, is a
										simple sorting algorithm that repeatedly steps through the
										list to be sorted, compares each pair.
										<div class="find-more">
											Find out more on: <span class="label label-theme"><i
												class="fa fa-file-pdf-o"><a href="#"> PDF</a></i></span> <span
												class="label label-theme"><i
												class="fa fa-youtube-square"><a href="#"> YouTube</a></i></span> <span
												class="label label-theme"><i class="fa fa-slideshare"><a
													href="#"> SlideShare</a></i></span>
										</div>
									</td>
								</tr>
								<tr>
									<td>Greedy Method</td>
									<td style="border-left: 3px solid #009688;">A greedy
										algorithm is an algorithmic paradigm that follows the problem
										solving heuristic of making the locally optimal choice at each
										stage with the hope of finding a global optimum.
										<div class="find-more">
											Find out more on: <span class="label label-theme"><i
												class="fa fa-file-pdf-o"><a href="#"> PDF</a></i></span> <span
												class="label label-theme"><i
												class="fa fa-youtube-square"><a href="#"> YouTube</a></i></span> <span
												class="label label-theme"><i class="fa fa-slideshare"><a
													href="#"> SlideShare</a></i></span>
										</div>
									</td>
								</tr>
								<tr>
									<td>EDI Security</td>
									<td style="border-left: 3px solid #009688;">Electronic
										data interchange (EDI) is a major innovation in the practical
										use of computing. It is already being used extensively in some
										segments of the retailing
										<div class="find-more">
											Find out more on: <span class="label label-theme"><i
												class="fa fa-file-pdf-o"><a href="#"> PDF</a></i></span> <span
												class="label label-theme"><i
												class="fa fa-youtube-square"><a href="#"> YouTube</a></i></span> <span
												class="label label-theme"><i class="fa fa-slideshare"><a
													href="#"> SlideShare</a></i></span>
										</div>
									</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- End:Resources -->

			<!-- Section:Publications -->
			<div class="row">
				<div class="col-md-12">
					<div class="card card-block text-xs-left"
						style="margin-bottom: 15px;">
						<h2 class="card-title" style="color: #009688">
							<i class="fa fa-newspaper-o fa-fw"></i> Publications
						</h2>
						<div style="height: 15px"></div>
						<ul class="list-group">
							<li class="list-group-item">A H M Kamal,"Inserting Item to a
								Sorted List",USTC Teachers Annual (USTA - 2002),8(1),2002</li>
							<li class="list-group-item">A H M Kamal, Cross application
								of Round Robin Scheduling and Shortest Job First Serve in CPU
								Scheduling to improve preemptive scheduling, Accepted for
								publication at Kabi Nazrul University Journal - 2011</li>
							<li class="list-group-item">A H M Kamal, UB Operator
								precedence parsing algorithm, Accepted for Computer Science and
								Engineering R esearch Journal (CSERJ) in Vol. 7 (2011) (ISSN:
								1990-4010) of Chittagong University of Engineering and
								Technology (CUET)</li>
							<li class="list-group-item">A H M Kamal, Retrieving Packets
								from Losing during Service Disruption Time, During Vertical
								Handover among UMTS and WLAN, Int. J. Advanced Networking and
								Applications, Volume 03, Issue 04, pp 1229-1232 (2012)</li>
							<li class="list-group-item">A H M Kamal, An Algorithm to
								trigger VHO based on the speed of roamer- who is just leaving
								the WLAN in a room,International Journal of Emerging
								Technologies in Science and Engineering, Canada, Vol: 3, No 1,
								pp:21-25, 2010</li>
							<li class="list-group-item">A. H. M. Kamal,"Use of ICTs in
								Gender Equalization" , USTC Teachers Annual (USTA-2010)</li>
							<li class="list-group-item">A H M Kamal,"ICT in Managing
								Disaster in Bangladesh",USTC Teachers Annual (USTA-2010)</li>
							<li class="list-group-item">Md. Saiful Islam and AHM Kamal,
								“Ratio method for solving any equation of single variable”,
								International Journal of Engineering and Technology, Vol-6,
								Issue-2, June 2009, ISSN: 1812-7711</li>
							<li class="list-group-item">A H M Kamal, Montse Parada,
								"Blob translation based estimation technique to handle occlusion
								while using mean-shift in tracking",Research Journal of applied
								sciences, vol. 4, issue 4, pp 129-133, 2009</li>
							<li class="list-group-item">A H M Kamal,"An easy, flexible
								and linear way for generating precedence functions", Multimedia
								Cyberscape journal (MMCJ), Malaysia, Vol: 2, pp. 44-49, 2004</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- End:Publications -->

		</div>
		<!--End of Container-->

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</div>
</body>
</html>