<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">

<body>
	<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>Physician Info.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->

		<!-- *****************************************************************************************************************
	 CONTACT FORMS
	 ***************************************************************************************************************** -->

		<div class="container mtb">		
		
		<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12">
		<div th:if="${updatedPhysician}" class="alert alert-success" role="alert">
					<strong>Physician updated successfully.</strong>
					</div>
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<img th:src="@{/image/physician/}+${physician.id}+'.png'"
										class="img-rounded img-responsive"  draggable="false" />
					</div>
					<div class="col-sm-6 col-md-4">
						<h4 th:text="${physician.firstName +' '+physician.lastName}"></h4>
						
							<p>Email: <span th:text="${physician.email}"></span></p>
							<p>Active: <span th:text="${physician.enabled}"></span></p>
							<p>Street Address: <span th:text="${physician.streetAddress}"></span></p>
							<p>City: <span th:text="${physician.city}"></span></p>
							<p>Zip Code: <span th:text="${physician.zipCode}"></span></p>
						
					</div>
					<div class="col-sm-6 col-md-6">
						<h4>Legal</h4>
						<p>License Number: <span th:text="${physician.licenseNumber}"></span></p>
						<p>NPI Number: <span th:text="${physician.npiNumber}"></span></p>
					</div>
					<div class="col-sm-6 col-md-12">
						<div class="row nav">
							<div class="col-md-12" style="margin: 0px;">
								<hr/>
								<span class="pull-left"><button type="button" class="btn btn-sm btn-info"
									data-toggle="modal" data-target=".myModal"><i
									class="glyphicon glyphicon-edit"></i>Edit</button></span>
								<span class="pull-right"><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target=".myModalDelete"><i
									class="glyphicon glyphicon-remove"></i>Delete</button></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
			
			
			
				<!-- Modal -->
				<div class="modal fade myModal" id="" role="dialog">
					<div class="modal-dialog modal-lg">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">Edit Physician</h4>
							</div>
							<div class="modal-body">
								<div class="col-md-12" sec:authorize="hasRole('ROLE_ADMIN')">
									<form th:action="@{/updatePhysician}" method="post"
										th:object="${physician}" enctype="multipart/form-data"
										class="form-horizontal">
										<fieldset>
											<input type="hidden" th:field="*{id}"/>
											<div class="form-group">
												<label class="col-md-4 control-label">First Name</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-user"> </i>
														</div>
														<input type="text" th:field="*{firstName}"
															placeholder="First Name" class="form-control input-md" />
													</div>
													<b><span th:errors="*{firstName}" class="text-danger"></span></b>
												</div>
											</div>

											<div class="form-group">
												<label class="col-md-4 control-label">Last Name</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-user"> </i>
														</div>
														<input type="text" th:field="*{lastName}"
															placeholder="Last Name" class="form-control input-md" />
													</div>
													<b><span th:errors="*{lastName}" class="text-danger"></span></b>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">Profile Photo</label>
												<div class="col-md-4">
													<input type="file" class="input-file" name="profilePhoto"
														th:field="*{profilePhoto}" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">Active</label>
												<div class="col-md-4">
													<select th:field="*{enabled}" class="form-control">
														<option value="true">Yes</option>
														<option value="false">No</option>
													</select>
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">Email Address</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-envelope-o"></i>
														</div>
														<input type="text" th:field="*{email}"
															placeholder="Email Address" class="form-control input-md" />
													</div>
													<b><span th:errors="*{email}" class="text-danger"></span></b>
												</div>
											</div>

											<div class="form-group">
												<label class="col-md-4 control-label">License Number</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-user"></i>
														</div>
														<input type="text" th:field="*{licenseNumber}"
															placeholder="License Number" class="form-control input-md"/>
													</div>
													<b><span th:errors="*{licenseNumber}" class="text-danger"></span></b>
													</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label">NPI Number</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-user"></i>
														</div>
														<input type="text" th:field="*{npiNumber}"
															placeholder="NPI Number" class="form-control input-md"/>
													</div>
													</div>
											</div>

											<div class="form-group">
												<label class="col-md-4 control-label" for="Father">Phone</label>
												<div class="col-md-4">
													<div class="input-group">
														<div class="input-group-addon">
															<i class="fa fa-phone" style="font-size: 20px;"></i>
														</div>
														<b><span th:errors="*{phone}" class="text-danger"></span></b>
														<input type="text" th:field="*{phone}" placeholder="Phone"
															class="form-control input-md" />
													</div>
												</div>
											</div>

											<div class="form-group">
												<label class="col-md-4 control-label col-xs-12">Address</label>
												<div class="col-md-2  col-xs-4">
													<b><span th:errors="*{streetAddress}"
														class="text-danger"></span></b> <input type="text"
														th:field="*{streetAddress}" placeholder="Street address"
														class="form-control input-md " />
												</div>
												<div class="col-md-2 col-xs-4">
													<b><span th:errors="*{zipCode}" class="text-danger"></span></b>
													<input type="text" th:field="*{zipCode}"
														placeholder="Zip code" class="form-control input-md " />
												</div>
											</div>
											<div class="form-group">
												<label class="col-md-4 control-label"></label>
												<div class="col-md-2  col-xs-4">
													<b><span th:errors="*{city}" class="text-danger"></span></b>
													<input type="text" th:field="*{city}" placeholder="City"
														class="form-control input-md " />
												</div>
											</div>

											<div class="form-group">
												<label class="col-md-4 control-label"></label>
												<div class="col-md-4">
													<input type="submit" value="Save" class="btn btn-theme" />
													<a class="btn btn-danger" data-dismiss="modal" value="">
														<span></span>Candel
													</a>

												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
							<div class="modal-footer">
							</div>
						</div>

					</div>
				</div>
				
				
				
				<!-- Modal -->
<div class="modal fade myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete doctor <span th:text="${physician.firstName+' '+physician.lastName}"></span>?  <br></br><br></br>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a th:href="@{/deletePhysician(id=${physician.id})}" type="submit" class="btn btn-danger">Delete</a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

</div>
</body>
</html>
