<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">
<body>

	<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>System Users.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->


		<!-- *****************************************************************************************************************
	 USER TABLE
	 ***************************************************************************************************************** -->
	 


		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${newUser}" class="alert alert-success" role="alert">
						<strong>New user added successfully.</strong>
					</div>
					<div th:if="${userDelete}" class="alert alert-success" role="alert">
						<strong>User deleted successfully.</strong>
					</div>
					
					<table id="myTable"
						class="table table-bordred table-striped table-bordered">
						<thead>
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">First Name</th>
								<th class="text-center">Last Name</th>
								<th class="text-center">Phone</th>
								<th class="text-center">Username</th>
								<th class="text-center">Email</th>
								<th class="text-center">Role</th>
								<th class="text-center">Active</th>
								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${customers}" class="text-center">
								<td th:text="${customer.id}"></td>
								<td th:text="${customer.firstName}"></td>
								<td th:text="${customer.lastName}"></td>
								<td th:text="${customer.phone}"></td>
								<td th:text="${customer.username}"></td>
								<td th:text="${customer.email}"></td>
								<td th:each="role : ${customer.customerRoles}">
								<span th:text="${role.getRole().getName()}"></span>
								</td>								
								<td th:text="${customer.enabled}"></td>
								<td class="td-actions"><a
									th:href="@{/userProfile(id=${customer.id})}"
									class="btn btn-default btn-xs"><span
										class="glyphicon glyphicon-search"></span>View</a>
										</td> 
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
