<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="menu">
<body>

<div layout:fragment="mainpage">
		<!-- *****************************************************************************************************************
	 BLUE WRAP
	 ***************************************************************************************************************** -->
		<div id="blue">
			<div class="container">
				<div class="row">
					<h3>System Users.</h3>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /blue -->


		<!-- *****************************************************************************************************************
	 USER TABLE
	 ***************************************************************************************************************** -->

		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div th:if="${newUser}" class="alert alert-success" role="alert">
						<strong>New user added successfully.</strong>
					</div>
					<table id="example" class="table table-bordred table-striped table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Phone</th>
								<th>Username</th>
								<th>Email</th>
								<th>Role</th>
								<th>Active</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="customer : ${customers}">
								<td th:text="${customer.id}"></td>
								<td th:text="${customer.firstName}"></td>
								<td th:text="${customer.lastName}"></td>
								<td th:text="${customer.phone}"></td>
								<td th:text="${customer.username}"></td>
								<td th:text="${customer.email}"></td>
								<td ></td>
								<td th:text="${customer.enabled}"></td>
								<td class="td-actions">
									<a href="#" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span>View</a>
									<a th:href="@{/edit(id=${customer.id})}" class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
									<a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span>Remove</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
